* {
    margin: 0; 
    padding: 0; 
    font-family: Arial, Helvetica, sans-serif;
}

body {
    height: 98vh;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 100%;
    background-color: rgb(32, 32, 32);
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 900px;
}

input {
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.404);
}

#menu {
    display: flex;
    margin-bottom: 30px;
    gap: 2px;
}

#menu #btn {
    border: none;
    background-color: rgb(58, 119, 252);
    color: white;
}

#menu input {
    padding: 15px;
}

#resultados {
    display: flex;
    gap: 10px;
    flex-direction: column;
}

span {
    color: white;
}

#resultados input {
    padding: 10px;
}

